http {
    upstream myapp1 {
           server {{ web_ip1 }};
           server {{ web_ip2 }};
           server {{ web_ip3 }};
    }

    server {
        listen 80;

        location / {
            proxy_pass http://myapp1;
        }
    }
}
